<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AeroTicos</title>
    <link href="~/css/reserva.css" rel="stylesheet" />

</head>
<body>
    <header>
        <a href="#" class="logo">AeroTicos</a>
        <nav>
            <a href="@Url.Action("Login", "Home")" class="uatp-btn">Iniciar Seccion</a>
            <a href="@Url.Action("Index", "Home")">Reservar</a>
            <a href="@Url.Action("Reserva", "Home")">Ofertas y destinos</a>
            <a href="@Url.Action("CheckIN", "Home")" class="check-in-btn">Check-in</a>
            <a href="@Url.Action("INFO", "Home")">Información y ayuda</a>
        </nav>
        <a href="@Url.Action("Perfil", "Home")" class="uatp-btn">Perfil</a>
        <a href="@Url.Action("PanelAdmin", "Home")" class="uatp-btn">Admin</a>
     
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
