<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroTicos - Reserva tu vuelo</title>
    <link href="~/css/principal.css" rel="stylesheet" />


</head>
<body>
    <main>
        <form class="search-form">
            <div class="form-group">
            </div>
            <button type="button" class="search-btn" onclick="window.location.href='@Url.Action("SistemaReserva", "Home")'">Gestionar Reserva</button>
        </form>

        <div class="promo-banner" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipM6JAFykykjq5eKGdf-aL0onDauMjeZGLi5hHhX=w540-h312-n-k-no');">
            <div class="promo-overlay"></div>
            <div class="promo-content">
                <h2 class="promo-title">¡Otoño en Canadá!</h2>
                <p>Disfruta de los colores del otoño en octubre</p>
                <p>Vuelos a Toronto y Montreal desde</p>
                <button type="button" class="search-btn" onclick="window.location.href='@Url.Action("SistemaReserva", "Home")'">¡Otoño en Canadá!</button>
            </div>
        </div>

        <div class="promo-banner" style="background-image: url('https://lh5.googleusercontent.com/p/AF1QipNg8X4ilkKGH2IwW7HJGCUu7ZVDBk9yTdNEpHH0=w675-h390-n-k-no');">
            <div class="promo-overlay"></div>
            <div class="promo-content">
                <h2 class="promo-title">Noviembre en Colombia</h2>
                <p>Escápate al calor de Cartagena</p>
                <p>Vuelos directos desde San José a Cartagena</p>
                <button type="button" class="search-btn" onclick="window.location.href='@Url.Action("SistemaReserva", "Home")'">Descubre Colombia</button>
            </div>
        </div>

        <div class="promo-banner" style="background-image: url('https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcR5SjFobdvFYqJD6SLa8Q5byg8WaFI04_vTNu0uy9M7_X8_nl0_PYys6vrtini4gHZ7_Jzn6NxLnFfFHZT9_9_mBlReybULrCstaddn2g');">
            <div class="promo-overlay"></div>
            <div class="promo-content">
                <h2 class="promo-title">Navidad en Nueva York</h2>
                <p>Vive la magia de diciembre en la Gran Manzana</p>
                <p>Vuelos a Nueva York desde</p>
                <button type="button" class="search-btn" onclick="window.location.href='@Url.Action("SistemaReserva", "Home")'">Descubre Nueva York</button>
            </div>
        </div>

        <div class="promo-banner" style="background-image: url('https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcS0C0OxHzJFYANJag64IrJhghkF0wx9crSR1RyNNPVRj2GDjqtLPRheND41o3Rsd_3Lsd3BDfkafdEaZGsvvASkZJT2L0cIGdBfTRQ_OA');">
            <div class="promo-overlay"></div>
            <div class="promo-content">
                <h2 class="promo-title">Otoño en San Francisco</h2>
                <p>Explora la ciudad de la bahía en octubre</p>
                <p>Vuelos a San Francisco desde</p>
                <button type="button" class="search-btn" onclick="window.location.href='@Url.Action("SistemaReserva", "Home")'">Descubre California</button>
               
            </div>
        </div>

        <div class="promo-banner" style="background-image: url('https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcSmHGsiBrM7Wi1sUm76cnWFWcP2_DOywszqOoCu0wQi-5e-6ICCbSjQSvOweAWS2fAWPbN32b20ju8C4t4ckm-zFQDXciBNxb3Yup089w');">
            <div class="promo-overlay"></div>
            <div class="promo-content">
                <h2 class="promo-title">Noviembre en Vancouver</h2>
                <p>Descubre la belleza natural de Vancouver</p>
                <p>Vuelos a Vancouver desde</p>
                <button type="button" class="search-btn" onclick="window.location.href='@Url.Action("SistemaReserva", "Home")'">Explora Canada</button>
            </div>
        </div>

        <div class="promo-banner" style="background-image: url('https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcSIibLXAPrKT-NNoc8_P7aHuyiJ8XKhU2SyBPkFK0kqoSgGolUxvbzbu-nogVGnNQGEkaF2seKcjjnV4OK-x71Mbehsy9edSgr2NxO2tg');">
            <div class="promo-overlay"></div>
            <div class="promo-content">
                <h2 class="promo-title">Diciembre en Japon</h2>
                <p>Disfruta de los famosos Paisajes de Japon</p>
                <p>Vuelos a Japon desde</p>
                <button type="button" class="search-btn" onclick="window.location.href='@Url.Action("SistemaReserva", "Home")'">Vive una Aventura Japonesa</button>
            </div>
        </div>
    </main>
</body>
</html>